<div class="row"><%= link_to '管理用户', cpanel_users_path %></div>
<div class="row"><%= link_to '管理项目', cpanel_projects_path %></div>
<div class="row"><%= link_to '管理捐赠记录', cpanel_donations_path %></div>