*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project

.DS_Store
**.swp

*.un~

# configuration

# public
/public/assets
/public/content

config/database.yml
config/application.yml
