<div class="dx-container">
  <h1>修改用户信息</h1>
</div>

<%= render 'form' %>

<div class="dx-container">
  <%= link_to '查看当前用户', cpanel_user_path(@user) %> |
  <%= link_to '查看所有用户', cpanel_users_path %>
</div>
