<div class="reply box">
<!-- TODO: fix XSS attack -->
  <div class="body pull-left">
    <%= raw comment.body %>
  </div>
  <div class="commentor pull-right">
    <%= comment.author_name %>
  </div>
</div>
