<div class="dx-container">
  <div class="project-title">
    <h1>Account 正在建设中...</h1>
    <p>请耐心等待...</p>
  </div>
  <%= form_for @project do |f| %>
    <%= hidden_field_tag "step", "account" %>
    <%= hidden_field_tag "next", "preview" %>
  <% end %>
</div>
