<div class="dx-container">
  <div class="project-title">
    <h1>hoola!</h1>
    <p>一旦所有东西都就位，提交你的项目吧</p>
  </div>
</div>
<div class="dx-container">
  <h1>项目预览：</h1>
  <%= render :template => "projects/show" %>
</div>
