#projects {
  &.show, &.preview {
    .project {
      .title { text-align: center; }
      .meta { text-align: right; }
      .content {
        overflow: hidden;
        .information {
        }
        .sns-share {
          .share-count, .day-count {
            font-size: 30px;
            padding: 0 0.5em;
          }
          .progress-bar {
            background: #e6e6e6;
            .speed {
              height: 10px;
              display: block;
              background: #f8550d;
            }
            .speed.success {
              background: #01a05f;
            }
          }
          form.donate {
            label {
              width: 50px;
              display: inline-block;
              font-size: 14px;
            }
            input[type="text"] {
              width: 180px;
            }
          }
        }
      }
    }
  }
  &.edit, &.new {
    .title {
      margin: 0 auto;
      text-align: center;
    }
    .project-edit-form form {
      fieldset {
        width: 600px;
        margin: 20px auto;
        border: 1px solid #000;

        label {
          /*width: 100px;*/
          margin-left: 20px;
          display: inline-block;
        }
        input, select, textarea {
          margin: 10px auto;
          border: 1px solid #000;
        }
        input[type="text"], select.category, select.region {
          /*width: 300px;*/
        }
      }
    }
  }
  &.index {
    table.projects {
      margin: 20px auto 0;
      th, td { text-align: center; }
      .name { width: 180px; }
      .introduction { width: 360px; }
      .slogan, .risk, .status { width: 120px; }
    }
  }
}
